.color-item {
	padding: 1rem;
	margin: 0.25rem;
	width: 100%;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 0.25rem;
	background-color: hsl(0, 0%, 100%);
	/*cursor: move;*/
}
.color-preview {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	margin-top: 1rem;
}
.color-preview, .color-item .btn, .color-item span, .color-item input {
	margin-right: 1rem;
}
.color-item .color-name {
	width: 40%;
	display: inline;
}

@media (max-width: 992px) { /* md */
	.color-item .color-name {
		width: 70%;
	}
}