/* reset */

img, button, br {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
img {
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}

/* generic */

* {
	font-family: 'Cabin', sans-serif;
}
body, button, .toast-header {
	color: hsl(0, 0%, 20%);
}
h3 {
	color: hsl(0, 0%, 20%);
	font-weight: bold;
}
h5 {
	color: hsl(0, 0%, 30%);
}
a {
	color: hsl(0, 0%, 40%);
}
a:hover {
	color: hsl(0, 0%, 50%);
}
input[type=text], input[type=number], #color-picker {
	text-align: center;
}
hr, input, .inner-div, button, .toast {
	border: 1px solid;
	border-color: hsl(0, 0%, 80%) !important;
	border-radius: 0.25rem;
}

/* layout */

.col-lg-6 { /* color cols */
	padding: 0.75rem;
}
.inner-div {
	padding: 1.5rem !important;
}

/* range */

input[type=range] {
	border: none;
	margin-bottom: 0.5rem;
}
.custom-range::-webkit-slider-thumb {
	background: hsl(0, 0%, 20%);
}
.custom-range::-moz-range-thumb {
	background: hsl(0, 0%, 20%);
}
.custom-range::-ms-thumb {
	background: hsl(0, 0%, 20%);
}

/* toast */

.toast {
	box-shadow: none;
	min-width: 8rem;
}
.toast-header, .toast-body {
	background-color: hsl(0, 0%, 100%);
}
.toast-header {
	color: hsl(0, 0%, 20%) !important;
	border-color: hsl(0, 0%, 80%);
}
.toast .close {
	position: absolute;
	top: 0;
	right: 0;
}
/*https://stackoverflow.com/a/54767810/4907950*/
#toast-container {
	position: sticky;
	z-index: 1051 !important; /* bs modal is 1050 */
	top: 0;
}
#toast-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.25rem 0px;
}

/* buttons and inputs */

button:not(.close) {
	background-color: hsl(0, 0%, 100%); /* changes with color */
	color: hsl(0, 0%, 0%); /* changes with color */
}
button.dark {
	background-color: hsl(0, 0%, 0%);
}
button:hover:not(.close):not(.slick-arrow):not(:disabled), 
button:hover:focus:not(.close):not(.slick-arrow):not(:disabled) {
	box-shadow: 0.25rem 0.25rem 0px hsl(0, 0%, 20%);
}
input[type=text]:hover, input[type=number]:hover, button:hover {
	border-color: hsl(0, 0%, 60%) !important;
}
li[role=presentation] button {
	box-shadow: none !important;
}

/* animations and button hovers */

.btn i, #picker, #color-picker {
	transition: 0.25s ease-in-out;
}
#drop {
	transition: fill 0.25s ease-in-out;
}
.btn:hover i.fa-download, .btn:hover i.fa-upload {
	transform: scaleX(-1);
}
.btn:hover i.fa-eraser, .btn:hover i.fa-trash {
	-webkit-animation: wobble 1s;
	animation: wobble 1s;
}
.btn:hover i.fa-info {
	-webkit-animation: rubberBand 1s;
	animation: rubberBand 1s;
}
.btn:hover i.fa-dice-five {
	-webkit-animation: shakey 0.5s;
	animation: shakey 0.5s;
}
@keyframes shakey {
	0% {transform: translate(2px, -4px) rotate(60deg);}
	50% {transform: translate(-4px, 0px) rotate(120deg);}
	100% {transform: translate(0px, 0px);}
}
.btn:hover i.fa-history {
	-webkit-animation: twist 0.5s;
	animation: twist 0.5s;
}
@keyframes twist {
	0% {transform: rotate(60deg);}
	50% {transform: rotate(-60deg);}
	100% {transform: rotate(0deg);}
}
#view-favorites-btn:hover i {
	-webkit-animation: updown 0.5s;
	animation: updown 0.5s;
}
@keyframes updown {
	0% {transform: translateY(4px);}
	50% {transform: translateY(-4px);}
	100% {transform: translateY(0px);}
}
.btn:hover i.fa-copy {
	transform: scaleX(-1);
}
.btn:hover i.fa-sync-alt {
	transform: rotate(180deg);
}
.btn:hover i.fa-link {
	transform: rotate(135deg);
}
.btn:hover i.fa-external-link-alt {
	transform: translateX(4px) translateY(-4px);
}

/* checkbox */

.custom-control-input:checked~.custom-control-label::before {
	border-color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 20%);
}

/* info and close buttons */

.info-btn {
	position: absolute;
	left: 2.25rem;
	top: 2.25rem;
}
.close {
	border: 1px solid hsl(0, 0%, 80%) !important;
}

/* slick */

.slick-arrow:before { 
	color: hsl(0, 0%, 20%) !important;
}

/* logo and title */

#logo-animated {
	width: 64px;
}
#rgb-logo {
	width: 32px;
}
#title-header {
	padding: 0.5rem;
	display: inline;
	font-weight: normal;
}

/* modal */

.modal-backdrop {
	/* fix display on mobile */
	width: 100%;
	height: 100%;
}

/* dropdown */

.dropdown-item:hover {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 0%);
}

/* popover */

.popover-header {
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(0, 0%, 80%);
	border-radius: 0.25rem;
	font-weight: normal;
	border-width: 1px;
}
.popover-body {
	display: none;
}

/* utility classes */

.mobile-only {
	display: none;
}
.hidden {
	display: none;
}

@media (max-width: 992px) { /* md */
	.mobile-only {
		display: initial;
	}
	.modal-dialog {
		max-width: 90%;
	}
}

@media (max-width: 768px) { /* sm */
	.slick-arrow {
		display: none !important;
	}	
}
