.history-item {
	padding: 20px;
	margin: 5px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.history-preview {
	width: 25px;
	height: 25px;
	display: inline-block;
}

.history-preview, .history-item .btn, .history-item span, .history-item input {
	margin-right: 15px;
}

/*TODO: fix history items for mobile*/
.history-item .color-name {
	width: 40%;
	display: inline;
}