/*todo: color the sliders with their repective colors?*/
* {
	font-family: 'Cabin', sans-serif;
}
h3 {
	font-weight: bold;
}
img, button, br {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}

body, button {
	color: #333;
}
hr, input, .inner-div, button {
	border-color: #ccc !important;
}

input {
	text-align: center;
}
.col-lg-6 {
	padding: 10px;
	border: 0 !important;
}
.inner-div {
	padding: 20px !important;
	margin: 10px !important;
	border: 1px solid;
	border-radius: 5px;
}

button {
	border: 1px solid;
	background-color: #333;
	color: #fff;
}

#title-header {
	color: #000; /* color will change when selected */
	border-radius: 20px;
	padding: 10px;
}

.slick-arrow:before { 
	color: #000 !important;
}

@media (max-width: 768px) {

}
